.comment-row {
  margin-bottom: 0;
}
.comment-container {
  display: flex;
  align-items: center;
}
.comment-avatar {
  min-width: 80px;
  width: 80px;
  padding: 0.25rem 1rem 0 0;
}
.comment-content {
  flex-grow: 1;
  min-width: 260px;
  padding: 18px;
}
.comment-content-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.75rem;
}
.comment-content-info-user {
  text-decoration: underline;
  font-size: 13px;
}
.comment-content-info-timeago {
  font-size: 11px;
}
.comment-content-text {
  font-size: 13px;
  margin: 0;
  text-align: justify;
}
